*.log
*.zip
*.dvi
*.aux
*.fls
*.glo
*.ist
*.lof
*.glsdefs
*.lot
*.out
*.latexmain
*.toc
*.fls
*.bbl
*.blg
*.doc
main.synctex.gz
main.glg
main.gls
main.glsdefs
main.fls
pdflatex12727.fls
main.fdb_latexmk
*.log
*.syncthing.main.synctex(busy).tmp
*.synctex(busy)
